.App {
  height: 100vh;
  background-color: #ccc;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.contacto {
  color: #fff;
  width: 100vw;
  align-self: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media screen and (max-width: 42em) {
  .App {
    background-image: url('./assets/Screen_480x930.jpg');
  }

  h1 {
    font-size: 2em;
  }
  
  h2 {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 60em) {
  .App {
    background-image: url('./assets/Screen_768x1165.jpg');
  }
}

@media screen and (min-width: 1024px) {
  .App {
    background-image: url('./assets/Screen_1920x1080.png');
  }

  .contacto {
    position: absolute;
  }
}

/*768px, 480px, 42em, 60em, and 81em*/